[submodule "vendor/picoinf"]
	path = vendor/picoinf
	url = https://github.com/dmalnati/picoinf
[submodule "vendor/TraquitoJetpack"]
	path = vendor/TraquitoJetpack
	url = https://github.com/dmalnati/TraquitoJetpack
