[submodule "vendor/picoinf"]
	path = vendor/picoinf
	url = https://github.com/uge/picoinf
[submodule "vendor/TraquitoJetpack"]
	path = vendor/TraquitoJetpack
	url = https://github.com/uge/TraquitoJetpack
